<!-- views/todos.erb -->
<header>
  <div id='header-left'>
    <h1>Todo List</h1>
    <h3>Add a Todo!</h3>
  </div>
  <div>
    <form action="/todos" method="POST" class="form">
      <input type="text" name="title"/>
      <input type="date" name="date"/>
      <input type="submit"/>
    </form>
  </div>
</header>

<section class='todos-container'>
  <div class='gallery'>
    <% @todos.each do |index,todo| %>
    <div class='btn-container'>
      <h3>
        <a href="/todos/<%= index %>" class="todo-box"><%= todo[0] %></a>
        <% if todo[1]!="" %>
        Deadline:<%= todo[1] %>
        <% end %>
      </h3>
      <form method='POST' action='/todos/<%= index %>'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete'>
      </form>
    </div>
    <% end %>
  </div>
</section>