h1
{
font-size:65px;
}
body
{
text-align:center;
}
a{
	text-decoration: none;
}
.box1
{
padding-top: 40px;
}
#submit1
{
background-color:green;
color:white;
font-size:40px;
padding:15px;
margin:20px;
}
#submit2
{
background-color:green;
color:white;
font-size:40px;
padding:15px;
margin:20px;
}
#submit3
{
background-color:green;
color:white;
font-size:40px;
padding:15px;
margin:20px;
}
#submit4
{
background-color:green;
color:white;
font-size:40px;
padding:15px;
margin:20px;
}